<div class="mt-5">
  <%= search_form_for(@q, url: root_path, method: :get, class: 'container d-flex justify-content-center') do |f| %>
    <%= f.search_field :name_i_cont_any, placeholder: "Search...", class: "form-control me-2 custom-search" %>
    <%= f.submit "Search!", class: "btn btn-outline-success" %>
  <% end %>
</div>
<div>
  <% if params[:q].present? && @food_q_result.any? %>
    <ul>
      <% @food_q_result.each do |food| %>
        <li><%= link_to food.name, food_path(food) %></li>
      <% end %>
    </ul>
  <% elsif params[:q].present? %>
    <p>No matching food items found.</p>
  <% end %>
</div>
